%form{:action => "/sessions/new", :method => "post"}
  Email:
  %input{:name => "email", :type => "text"}/
  Password:
  %input{:name => "password", :type => "password"}/
  %input{:type => "submit", :value => "Sign In"}/

%a{href: "/sessions/forgot"} Forgotten password?
